#root{
  min-width: 100vw;
  min-height: 100vh;
}
.App{
  min-width: 100vw;
    min-height: 100vh;
}
.App-form{
    
}
body{
  font-family: Arial, Helvetica, sans-serif;
  background: #c6d1c8;
  color: #fdfdff;
}
